{erl_opts, [debug_info, {no_auto_import, [{get,1}]}]}.

{deps, [
    {lfe, "~> 2.2"},
    {undermidi, {git, "git@github.com:ut-proj/undermidi.git", {branch, "release/0.3.x"}}}
]}.

{project_plugins, [
    {rebar3_lfe, "~> 0.4"},
    {rebar3_oscmd, "~> 0.5"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {lfe, compile}}
    ]}
]}.

{xref_checks, [
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_extra_apps, [eunit]}
]}.

{profiles, [
    {test, [
        {erl_opts, [
            {src_dirs, ["src", "test"]}
        ]},
        {deps, [
            {proper, "1.3.0"},
            {ltest, "~> 0.13"}
        ]},
        {plugins, [
            {rebar3_proper, "0.12.1"}
        ]},
        {eunit_opts, [verbose]}
    ]},
    {maintainer, [
        {plugins, [rebar3_hex]}
    ]},
    {underack, [
        {erl_opts, [
            {src_dirs, ["src", "priv/patches"]}
        ]},
        {lfe, [{repl, [{nobanner, true}]}]}
    ]}
]}.

{alias, [
    {test, [
        compile,
        {lfe, ltest, "tall"}
    ]},
    {coverage, [
        {proper, "-c"},
        {cover, "-v --min_coverage=0"}
    ]},
    {check, [
        compile,
        %%xref,
        %%dialyzer,
        test,
        coverage
    ]},
    %% The following should be run with `rebar3 as underack repl`:
    {repl, [
        clean,
        {lfe, repl, "--sname underack@localhost --apps underack"}
    ]},
    %% The following should be run with `rebar3 as maintainer publish`:
    {publish, [
        compile,
        {hex, "publish package"}
    ]}
]}.
